<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="procat.Properties.Settings.procatConnectionString"
            connectionString="Data Source=DESKTOP-949SEK0;Initial Catalog=procat;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="procat.Properties.Settings.prokatConnectionString"
            connectionString="Data Source=DESKTOP-949SEK0;Initial Catalog=prokat;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>